[Desktop Entry]
Name=Pidgin Internet Messenger
Name[pt]=Mensageiro de Internet Pidgin
Name[pt_BR]=Mensageiro da Internet Pidgin
GenericName=Internet Messenger
GenericName[pt]=Mensageiro Internet
GenericName[pt_BR]=Mensageiro da Internet
Comment=Chat over IM.  Supports AIM, Google Talk, Jabber/XMPP, MSN, Yahoo and more
Comment[pt]=Cliente de mensagens instantâneas. Suporta AIM, Google Talk, Jabber/XMPP, MSN, Yahoo!, e mais
Comment[pt_BR]=Bate-papos instantâneos.  Suporta AIM, Google Talk, Jabber/XMPP, MSN, Yahoo e outros
Exec=pidgin
Icon=pidgin
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
X-XFCE-Source=file:///usr/share/applications/pidgin.desktop
