[Desktop Entry]
Version=1.0
Type=Application
Name=Perfect World International
Comment=Perfect World International
Exec=WINEARCH=win32 WINEPREFIX=~/.wine32 wine ~/Games/Perfect World Entertainment/PWI_en/element/elementclient.exe
Icon=B8E3_patcher.0
Path=~/Games/Perfect World Entertainment/PWI_en/element
Terminal=false
StartupNotify=false
