[user]
	email = contact@acidhub.click
	name = Fernando Manfredi
	signingkey = 9368E294
[commit]
	gpgsign = true
    template = /home/Fernando/.gitcommit
[color]
    branch = always
    diff = always
    grep = always
    interactive = always
    status = always
	ui = true
[push]
	default = matching
