[user]
	email = contact@acidhub.click
	name = Fernando Manfredi
[color]
    branch = always
    diff = always
    grep = always
    interactive = always
    status = always
	ui = true
[core]
	editor = vim
