! 06/2015 - AcidHub <acidhub@craft.net.br>
! xcalc
xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
! uncomment to change label on division button
!xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle
!
! Default mapping for Delete
!
*Text.Translations:	#override \n\
   ~Shift ~Meta ~Alt <Key>Delete:	delete-next-character() \n

*AxeText.Translations:	#override \n\
   ~Shift ~Meta ~Alt <Key>Delete:	delete-next-character() \n

*XmText.Translations:	#override \n\
   ~Shift ~Meta ~Alt <Key>Delete:	delete-next-character() \n\
   ~Shift ~Meta ~Alt <Key>osfDelete:	delete-next-character() \n\
   ~Shift ~Meta ~Alt <Key>osfBackSpace:	delete-previous-character() \n

*XmTextField.Translations: #augment \n\
   ~Shift ~Meta ~Alt <Key>osfDelete:	delete-next-character() \n\
   ~Shift ~Meta ~Alt <Key>osfBackSpace:	delete-previous-character() \n

!
! Defaults for 3D Athena Widgets library
!
#ifdef COLOR
*Form.background:			grey67
*Form.foreground:			black
*TransientShell*Dialog.background:	grey67
*TransientShell*Dialog.foreground:	black
*Command.background:			grey77
*Command.foreground:			black
*MenuButton.background:			grey77
*MenuButton.foreground:			black
*SimpleMenu*background:			grey77
*SimpleMenu*foreground:			black
*ScrollbarBackground:			grey67
*ScrollbarForeground:			grey37
*Scrollbar*background:			grey77
*Scrollbar*foreground:			grey37
*Scrollbar*pointerColor:		black
*Scrollbar*pointerColorBackground:	white
*beNiceToColormap:			False
#else
*Form.background:			black
*Form.foreground:			white
*TransientShell*Dialog.background:	black
*TransientShell*Dialog.foreground:	white
*Command.background:			black
*Command.foreground:			white
*MenuButton.background:			black
*MenuButton.foreground:			white
*SimpleMenu*background:			black
*SimpleMenu*foreground:			white
*ScrollbarBackground:			black
*ScrollbarForeground:			white
*Scrollbar*background:			black
*Scrollbar*foreground:			white
*Scrollbar*pointerColor:		black
*Scrollbar*pointerColorBackground:	white
*beNiceToColormap:True
#endif
*Scrollbar*width:			15
*Scrollbar*height:			15
*Scrollbar*shadowWidth:			2
*Scrollbar*borderWidth:			2
*Scrollbar*cursorName:			top_left_arrow
*Scrollbar*pushThumb:			false
*Label*shadowWidth:			2
*Label*borderWidth:			2
*shapeStyle:				Rectangle
*shadowWidth:				2
*SmeBSB*shadowWidth:			2
*Toggle*highlightThickness:		2
*MenuButton*highlightThickness:		2
*Command*highlightThickness:		2
*Panner*shadowThickness:		2
*SimpleMenu*shadowThickness:		2
*topShadowContrast:			20
*bottomShadowContrast:			45
*PushThumb:				False

!
! Defaults for Acrobat Reader
!
*printCommand: lpr

Mwm.interactivePlacement:	false

Scrollbar.JumpCursor:	True

Ghostview.pageMedia:  A4

*XConsole*text.scrollHorizontal:         False
*XConsole*text.wrap: line

!
! XSysinfo 
!
XSysinfo*.font:                 fixed
XSysinfo*.title.label:          Linx System Info
XSysinfo*.title.width:          200
XSysinfo*.load.name.label:      CPU Load:
XSysinfo*.idle.name.label:      CPU Idle:
XSysinfo*.mem.name.label:       Memory:
XSysinfo*.swap.name.label:      Swap:
! set foreground colors for load
XSysinfo*load*bar.foreground:   RosyBrown1
XSysinfo*load*bar.foreground1:  IndianRed1
XSysinfo*load*bar.foreground2:  OrangeRed1
XSysinfo*load*bar.foreground3:  firebrick1
XSysinfo*load*bar.foreground4:  pink1
XSysinfo*load*bar.foreground5:  HotPink1
XSysinfo*load*bar.foreground6:  DeepPink2
XSysinfo*load*bar.foreground7:  maroon1
XSysinfo*load*bar.segmentGap:   1

! set idle gauge color
XSysinfo*idle*bar.foreground:   green
XSysinfo*idle*bar.backgroud:   red

! set mem info gauge colors
XSysinfo*mem*bar.foreground:    tomato
XSysinfo*mem*bar.foreground1:   green3
XSysinfo*mem*bar.foreground2:   orchid

! set swap gauge color
XSysinfo*swap*bar.foreground:   hotpink1

! set background
XSysinfo*.background:           gray50
XSysinfo*.BarGauge.background:  white

*basicLocale:	C
*timeFormat:	C
*numeric:	C
*displayLang:	C
*inputLang:	C

#ifdef COLOR
*customization:	-color
#endif

