[Desktop Entry]
Version=1.0
Type=Application
Name=Calculadora
Comment=
Exec=xcalc
Icon=accessories-calculator
Path=
Terminal=false
StartupNotify=false
