[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/blackice/Desktop/richard bach - ilusões - aventuras de um messias indeciso.pdf]
row=2
col=0

[/home/blackice/Desktop/WAKFU.desktop]
row=3
col=0

[0494BF8F94BF81AA]
row=4
col=0

[Lixeira]
row=5
col=0

[/]
row=1
col=0

[/home/blackice]
row=0
col=0

