UpdateInterval=1
TimeScale=0
Size=30
Mode=0
Frame=0
Border=0
Bars=1
TrackedCore=0
Command=xfce4-taskmanager
InTerminal=0
StartupNotification=0
ColorMode=1
Foreground1=#17179393d1d1
Foreground2=#ffff00000000
Foreground3=#00000000ffff
Background=#000000000000
BarsColor=#000000008484

