button-title=Menu de aplicativos
button-icon=/usr/share/icons/ACYL_Icon_Theme_0.9.4/scalable/alternative_icons/logos/arch
show-button-title=false
show-button-icon=true
launcher-show-name=false
launcher-show-description=false
hover-switch-category=true
category-icon-size=1
item-icon-size=0
favorites=htop.desktop,Thunar.desktop,geany.desktop,filezilla.desktop,google-chrome.desktop,firefox.desktop,gimp.desktop,transmission-gtk.desktop
recent=systemdx.desktop,pidgin.desktop,filezilla.desktop,acyl.desktop,pkgbrowser.desktop,fontforge.desktop,gksu-properties.desktop,gparted.desktop
menu-width=502
menu-height=565
load-hierarchy=false
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
command-settings=xfce4-settings-manager
command-lockscreen=xflock4
command-logout=xfce4-session-logout

