button-title=Menu de aplicativos
button-icon=/usr/share/icons/ACYL_Icon_Theme_0.9.4/scalable/alternative_icons/logos/arch
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
hover-switch-category=true
category-icon-size=1
item-icon-size=1
favorites=htop.desktop,Thunar.desktop,geany.desktop,filezilla.desktop,firefox.desktop,gimp.desktop,transmission-gtk.desktop
recent=gens.desktop,pidgin.desktop,steam.desktop,paman.desktop,pavumeter.desktop,z26.desktop,xfce4-sensors.desktop,xfce4-mixer.desktop
menu-width=514
menu-height=555
load-hierarchy=true
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
command-settings=xfce4-settings-manager
command-lockscreen=xflock4
command-logout=xfce4-session-logout

