[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Navegue na Internet
Exec=/usr/lib/firefox/firefox %u
Icon=firefox
Path=
Terminal=false
StartupNotify=true
